@model ToKhaiYTeViewModel
@inject ToKhaiYTeContext context

@{ 
    var GateList = context.Gates.ToList();
    var YearList = context.Years.ToList();
    var MonthList = context.Months.ToList();
    var DayList = context.Days.ToList();
    var ProvinceList = context.Province.ToList();
    var DistrictList = context.District.ToList();
    var WardList = context.Ward.ToList();
}
   
    <form style="background-color:#ffffff">
        <div class="container ">
            <div>
                <div class="text-center">
                    <b>  TỜ KHAI Y TẾ ĐỐI VỚI NGƯỜI NHẬP CẢNH</b>
                </div>
                <div class="text-uppercase text-center ">
                    <b> ĐÂY LÀ TÀI LIỆU QUAN TRỌNG, THÔNG TIN CỦA ANH/CHỊ SẼ GIÚP CƠ QUAN Y TẾ LIÊN LẠC KHI CẦN THIẾT ĐỂ PHÒNG CHỐNG DỊCH BỆNH TRUYỀN NHIỄM</b>
                </div>
                <div style="color:red ;text-transform:none" class="text-center">
                    Khuyến cáo: Khai báo thông tin sai là vi phạm pháp luật Việt Nam và có thể xử lý hình sự
                </div>
            </div>
            <div class="row  ">
                <div class="col-3">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Cửa khẩu <em style="color:red">(*)</em></label>
@*                        @Html.DropDownListFor(h => h.gatesId, new SelectList(GateList, "Id", "GateName"));*@
                    </div>
                </div>
                 <div class="col-9">
            <div class="form-group inline-block form-inline label-width">
                <select class="form-control inline-block form-inline select2-hidden-accessible" data-msg-required="Bạn chưa chọn cửa khẩu" tabindex="-1" aria-hidden="true">
                    <option value="">-Chọn-</option>                  
                </select>
            </div>
        </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group inline-block form-inline label-width  text-uppercase">
                        <label>Họ tên (ghi chữ IN HOA) <em style="color:red">(*) asp-for="HoVaTen"</em></label>
                    </div>
                </div>
                <div class="col-8">
                    <input class="form-control inline-block form-inline " name="fields[fullName]" type="text" value=""
                           style="text-transform: uppercase;" data-msg-required="Bạn chưa nhập họ tên"
                           onblur="this.value = this.value.toUpperCase(); this.value=removeSpaces(this.value);" />
                </div>
            </div>
            @*Năm Sinh*@
            <div class="row">
                <div class="col-3">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Năm Sinh<em style="color:red">(*)</em></label>
                        <select class="input-text form-control">
                            <option selected="" value="1990">1990</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group inline-block form-inline label-width  ">
                        <label>Giới Tính<em style="color:red">(*)</em></label>
                        <select class="input-text form-control">
                            <option selected="" value="Nam">Nam</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Quốc Tịch<em style="color:red">(*)</em></label>
                        <select class="input-text form-control">
                            <option selected="" value="Viet Nam">Việt Nam</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Số hộ chiếu hoặc giấy thông hành hợp pháp khác  <em style="color:red">(*)</em></label>
                    </div>
                </div>
                <div class="col-9">
                    <input class="form-group inline-block form-inline " />
                </div>
            </div>
            @*Phương Tiện đi lại*@
            <div class="row">
                <div class="form-group inline-block form-inline label-width col-3 ">
                    <label>Thông tin đi lại <em style="color:red">(*)</em></label>
                </div>
                <div class="col-9 form-group inline-block form-inline label-width">
                    <label>
                        Tàu Bay
                        <input class="custom-checkbox" type="checkbox" />
                    </label>
                    <label>
                        Tàu Thuyền
                        <input class="custom-checkbox" type="checkbox" />
                    </label>
                    <label>
                        O tô
                        <input class="custom-checkbox" type="checkbox" />
                    </label>
                    <label>
                        Khác (Ghi rõ)
                    </label>
                </div>
            </div>
            @*Text Area*@
            <div class="row">
                <textarea class="form-group inline-block form-inline input-group">
</textarea>
            </div>
            @*Số hiệu phương tiện*@
            <div class="row">
                <div class="col col-3 form-group inline-block form-inline label-width ">
                    <label>Số hiệu phương tiện <em style="color:red">(*)</em></label>
                </div>
                <div class="col col-3">
                    <input class="form-group" />
                </div>
                <div class="col col-2 form-group inline-block form-inline label-width ">
                    <label>Số ghế  <em style="color:red">(*)</em></label>
                </div>
                <div class="col col-4">
                    <input class="form-group" />
                </div>
            </div>
            @*Ngay khoi hanh*@
            <div class="row">
                <div class="col">
                    <div class="form-group inline-block form-inline label-width  ">
                        <label>Ngày khởi hành <em style="color:red">(*)</em></label>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Ngày</option>
                        </select>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Tháng</option>
                        </select>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Năm</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group inline-block form-inline label-width  ">
                        <label>Ngày Nhập Cảnh <em style="color:red">(*)</em></label>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Ngày</option>
                        </select>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Tháng</option>
                        </select>
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Năm</option>
                        </select>
                    </div>
                </div>
            </div>
            @*p*@
            <div class="row">
                <div class="col">
                    <label class="inline-block form-inline label-width">
                        Địa điểm khởi hành (tỉnh/quốc gia)
                    </label>
                </div>
            </div>
            @*Quốc gia Vùng Lãnh thổ*@
            <div class="row">
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Quốc Gia
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Việt Nam</option>
                        </select>
                    </div>
                </div>
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Tỉnh
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Chọn</option>
                        </select>
                    </div>
                </div>
            </div>
            @*p điểm đến*@
            <div class="row">
                <div class="col">
                    <label class="inline-block form-inline label-width">
                        Địa điểm nơi đến (tỉnh/quốc gia)
                    </label>
                </div>
            </div>

            @*Quốc gia Vùng Lãnh thổ*@
            <div class="row">
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Quốc Gia
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Việt Nam</option>
                        </select>
                    </div>
                </div>
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Tỉnh
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <select class="input-text form-control" name="fields[startDay]">
                            <option value="">Chọn</option>
                        </select>
                    </div>
                </div>
            </div>
            @*21 ngày*@
            <div class="row">
                <div class="form-group inline-block form-inline label-width ">
                    <label>Trong vòng 21 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào? <em style="color:red">(*)</em></label>
                </div>
            </div>
            @*Text Area*@
            <div class="row">
                <textarea class="form-group inline-block form-inline input-group">
</textarea>
            </div>
            @*--địa chỉ--*@
            <div class="row">
                <p> Địa chỉ liên lạc tại Việt Nam</p>
            </div>
            @**@
            @*Tỉnh thành phố quận huyện*@
            <div class="row">
                <div class="col">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Tỉnh <em style="color:red">(*)</em></label>
                        <select class="form-control inline-block form-inline select2-hidden-accessible" data-msg-required="Bạn chưa chọn cửa khẩu" tabindex="-1" aria-hidden="true">
                            <option value="">
                                -chon-
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Thành Phố <em style="color:red">(*)</em></label>
                        <select class="form-control inline-block form-inline select2-hidden-accessible" data-msg-required="Bạn chưa chọn cửa khẩu" tabindex="-1" aria-hidden="true">
                            <option value="">
                                -chon-
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group inline-block form-inline label-width ">
                        <label>Quận Huyện <em style="color:red">(*)</em></label>
                        <select class="form-control inline-block form-inline select2-hidden-accessible" data-msg-required="Bạn chưa chọn cửa khẩu" tabindex="-1" aria-hidden="true">
                            <option value="">
                                -chon-
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            @*Địa Chỉ nơi ở tại VN*@
            <div class="row">
                <div class="form-group inline-block form-inline label-width ">
                    <label>Địa chỉ liên lạc tại VN <em style="color:red">(*)</em></label>
                </div>
            </div>
            <div class="row">
                <textarea class="form-group inline-block form-inline input-group">
</textarea>
            </div>
            <p style="font-size:12px;">
                <i> Số điện thoại bạn sẽ sử dụng tại Việt Nam (Là số Roaming hoặc số Việt Nam)</i>
            </p>
            @*Điện Thoại*@
            <div class="row">
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Điện Thoại
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-group inline-block form-inline " />
                    </div>
                </div>
                <div class=" col form-group inline-block form-inline">
                    <div class=" col label-width">
                        <label>
                            Email
                            <em style="color:red;">(*)</em>
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-group inline-block form-inline " />
                    </div>
                </div>
            </div>
            @*--*@
            <div>
                <b>
                    Trong vòng 21 ngày (tính đến thời điểm làm thủ tục xuất cảnh, nhập cảnh, quá cảnh) Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?
                    <em style="color:red;">
                        (*)
                    </em>
                </b>
            </div>
            @*Bảng *@
            <div class="row">
                <table class="table table-bordered" style="width:50%">
                    <thead>
                        <tr>
                            <th>Triệu chứng</th>
                            <th width="70" class="text-center">Có</th>
                            <th width="70" class="text-center">Không</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sốt <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasFever]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasFever]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Ho <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasCough]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasCough]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Khó thở <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasBreath]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasBreath]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Đau họng <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasSoreThroat]" value="1" data-msg-required="Bạn chưa chọn triệu chứng" /></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasSoreThroat]" value="2" /></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered" style="width:50%">
                    <thead>
                        <tr>
                            <th>Triệu chứng</th>
                            <th width="70" class="text-center">Có</th>
                            <th width="70" class="text-center">Không</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nôn/buồn nôn <span class="text-required">(*)</span></td>
                            <td width="70" class="text-center"><input type="Radio" class="style-radio" name="fields[hasNausea]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td width="70" class="text-center"><input type="Radio" class="style-radio" name="fields[hasNausea]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Tiêu chảy <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasDiarrhea]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasDiarrhea]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Xuất huyết ngoài da <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasHemorrhage]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasHemorrhage]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Nổi ban ngoài da <span class="text-required">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasRash]" value="1" data-msg-required="Bạn chưa chọn triệu chứng" /></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasRash]" value="2" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*Vắc xin sử dụng*@
            <div class="row">
                <p>Danh sách vắc-xin hoặc sinh phẩm được sử dụng </p>
            </div>
            @*Text Area*@
            <div class="row">
                <textarea class="form-group inline-block form-inline input-group" rows="1">
</textarea>
            </div>
            @*text*@
            <div class="row">
                <b class="form-group inline-block form-inline input-group">Lịch sử phơi nhiễm: Trong vòng 21 ngày qua, Anh/Chị có </b>
            </div>
            @*Table*@
            <div class="row">
                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="70" class="text-center">Có</th>
                            <th width="70" class="text-center">Không</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Đến trang trại chăn nuôi / chợ buôn bán động vật sống / cơ sở giết mổ động vật / tiếp xúc động vật <span class="text-required" style="color:red;">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasFever]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasFever]" value="2"></td>
                        </tr>
                        <tr>
                            <td>Tiếp xúc gần ('2m') với người mắc bệnh viêm đường hô hấp do nCoV<span class="text-required" style="color:red;">(*)</span></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasCough]" value="1" data-msg-required="Bạn chưa chọn triệu chứng"></td>
                            <td class="text-center"><input type="Radio" class="style-radio" name="fields[hasCough]" value="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*text*@
            <div class="row">
                <p style="color:red; font-size:18px">
                    Dữ liệu bạn cung cấp hoàn toàn bảo mật và chỉ phục vụ cho việc phòng chống dịch, thuộc quản lý của Ban chỉ đạo quốc gia về Phòng chống dịch Covid-19. Khi bạn nhấn nút "Gửi" là bạn đã hiểu và đồng ý.
                </p>
            </div>
            <div class="btn-submit-box text-center">
                <button type="submit" class="btn btn-success">
                    Gửi tờ khai
                </button>
            </div>
        </div>
    </form>
